.show {
    display: block;       
}

.hide {
    display: none;
}

input, select {
    height: 22px;
}

.calendar-icon {
    margin-left: 5px;
    cursor: pointer;
}

.calendar-input {
    width: 100px;
}